body {
    font-family: 'Raleway', sans-serif;
    margin:0%;
    padding:0px;
    border:0px;
  }
main{
    display:grid;
    grid-template-columns: 1fr 4fr;

}
aside{
    background-color:#F9F4ED;
    width:100%;
    height:100%;
    color:#41728D;
    position:relative;
}
.better{
    background-color:#f1e9df;
    height:100%;
    width:100%;
    color:#41728D;
    overflow: hidden;
    position: relative;
    margin: 0%;
    padding:0px;
    border:0px;
}
.l1{
    list-style:square;
}
.navi{
    display:flex;
    justify-content:flex-end;
}
.l2{
    list-style:none;
    padding:10px;
}
h1{
    text-align:center;
}
#button1{
    border-radius:10px;
    border-style:none;
    cursor: pointer;
    background-color:#5394A0;
    font-size: 16px;
    color:white;
    padding: 15px;
    margin: 15px;
    position:relative;
}
#button2{
    border-radius:10px;
    border-style:none;
    cursor: pointer;
    background-color:#6F6A87;
    font-size: 16px;
    color:white;
    padding: 15px;
    margin: 15px;
    float: right;
    position:relative;
}
#button3{
    border-radius:10px;
    border-style:none;
    cursor: pointer;
    background-color:#5394A0;
    font-size: 16px;
    color:white;
    padding: 10px;
    margin: 10px;
    position:relative;
}
#button4{
    border-radius:10px;
    border-style:none;
    cursor: pointer;
    background-color:#D9827C;
    font-size: 16px;
    color:white;
    padding: 10px;
    margin: 10px;
    position:relative;
}
.save-can{
    display:flex;
    justify-content:flex-end;
}
#myText{
    margin-left:15px; 
    width:95%;
    resize: none;
    height:150px;
    background-color:#F9F3EC;
    border-color:rgb(102, 155, 253);
    border-width:4px;
    position:relative;
    /* transition: all .5s linear; */
}
.bottom{
    text-align:center;
    margin-top:127.5px;
    margin-bottom:153px;
}
img{
    width: 35px;
    height:35px;
}
@media only screen and (max-width: 600px){

    #myText{
        width: 92%;;
        margin-left: 15px;

        height: 100px;
        padding-left: 5px;
        }
        .navi{
            display:flex;
            flex-direction: column;
            align-items:center;            
        }
        .save-can{
            display:flex;
            justify-content:space-between;
            align-items:stretch;
        }
}