body {
    font-family: 'Trebuchet MS', sans-serif;
    margin:0%;
    padding:0px;
    border:0px;

  }
main{
    display:grid;
    grid-template-columns: 1fr 4fr;

}
aside{
    background-color:#F9F3EC;
    width:100%;
    height:100%;
    color:#4d8a95;

}
.better{
    background-color:#ebe4db;
    height:100%;
    width:100%;
    color:#4d8a95;
    overflow: hidden;
    position: relative;
    margin: 0%;
    padding:0px;
    border:0px;
}

.l1{
    list-style:square;
}
.navi{
    display:flex;
    justify-content:flex-end;
}
.l2{
    list-style:none;
    padding:10px;
 
}
h1{
    text-align:center;
}
#button1{
    border-radius:10px;
    border-style:none;
    cursor: pointer;
    background-color:#5394A0;
    font-size: 16px;
    color:white;
    padding: 15px;
    margin: 15px;
}
#button2{
    border-radius:10px;
    border-style:none;
    cursor: pointer;
    background-color:#6F6A87;
    font-size: 16px;
    color:white;
    padding: 15px;
    margin: 15px;
    float: right;
}
#button3{
    border-radius:10px;
    border-style:none;
    cursor: pointer;
    background-color:#5394A0;
    font-size: 16px;
    color:white;
    padding: 10px;
    margin: 10px;
    
}
#button4{
    border-radius:10px;
    border-style:none;
    cursor: pointer;
    background-color:#D9827C;
    font-size: 16px;
    color:white;
    padding: 10px;
    margin: 10px;
    
}
.save-can{
    display:flex;
    justify-content:flex-end;
}
#myText{
    margin:15px;
    width:96%;
    height:150px;
    background-color:#F9F3EC;
    border-color:rgb(102, 155, 253);
    border-width:4px;
    resize:none;
}
.bottom{
    text-align:center;
}
img{
    width: 30px;
    height:30px;
}
@media screen and (min-width:481px){
    .better{
        width:auto;
    }
    #myText{
        transition: all .5s linear;
    }
}