body {
    font-family: 'Raleway', sans-serif;
    margin:0%;
    padding:0px;
    border:0px;
    display:grid;
    grid-template-columns: 1fr 4fr;
  }

aside{
    background-color:#F9F4ED;
    width:100%;
    height:100%;
    color:#41728D;
}
.better{
    background-color:#f1e9df;
    height:100%;
    width:100%;
    color:#41728D;
    overflow: hidden;
    margin: 0%;
    padding:0px;
    border:0px;
}
.l1{
    list-style:square;
}
.navi{
    display:flex;
    justify-content:flex-end;
}
.l2{
    list-style:none;
    padding:10px;
}
h1{
    text-align:center;
}

.buttons{
    display: flex;
    height: 10%;
}

.button{
    border-style:none;
    border-radius:10px;
    cursor: pointer;
    font-size: 16px;
    color:white;
}
.rightb{
    display:flex;
    justify-content:flex-end;
    width:100%; 
    
}
#button1{
    width:130px;
    background-color:#5394A0;
    padding: 15px;
    margin: 15px;

}
#button2{
    background-color:#6F6A87;
    padding: 15px;
    margin: 15px;
}
#button3{
    background-color:#5394A0;
    padding: 10px;
    margin: 10px;
}
#button4{
    background-color:#D9827C;
    padding: 10px;
    margin: 10px;
}
.save-can{
    display:flex;
    justify-content:flex-end;
}
#myText{
    margin-left:15px; 
    width:95%;
    resize: none;
    height:150px;
    background-color:#F9F3EC;
    border-color:rgb(102, 155, 253);
    border-width:4px;
}
.bottom{
    text-align:center;
    margin-top:127.5px;
    margin-bottom:153px;
}
img{
    width: 35px;
    height:35px;
}
@media only screen and (max-width: 600px){
        #myText{
            width: 92%;;
            margin-left: 15px;
            height: 100px;
            padding-left: 5px;
        }
        .navi{
            display:flex;
            flex-direction: column;
            align-items:center;            
        }
        .save-can{
            display:flex;
            justify-content:space-between;
            align-items:stretch;
        }
        body{
            
            background-color:#f1e9df;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
        main{
            position:static;
        }
        aside{
            background-color:   #F9F4ED;
            grid-row:2/3;
            height:fit-content;
            position:relative;
            bottom:340px;
        }
        footer{
            position:relative;
            top:100px;
        }
        
}
.bg-color{
    background-color:rgb(59, 7, 59);
    color:white;
}